.caption { display: none }
.presentation * { box-sizing: border-box }
.presentation {
  font-size: x-large;
  grid-auto-rows: 100vh;
  display: grid;
  height: 100vh;
  overflow-y: auto;
  scroll-snap-type: y mandatory;
  -webkit-scroll-snap-type: mandatory;
  -ms-scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(100vh);
  -webkit-overflow-scrolling: touch;
  counter-reset: slide;
}

.presentation > * {
  overflow: hidden;
  counter-increment: slide;
  scroll-snap-align: start;
  -webkit-scroll-snap-align: start;
  -ms-scroll-snap-align: start;
  display: grid;
  /* enforce a minimum margin for mobile */
  box-sizing: border-box;
  padding: 1em;
}

.slideIndex::before {
  content: counter(slide);
  user-select: auto;
}

.presentation .notes {
  display: none;
}

.titleGroup {
  text-align: center;
  margin: auto;
  max-width: 30em;
}

.slide {
  padding: 10%;
}

.presentation.captions .caption { display: block }


