.caption { display: none }
.presentation {
  grid-auto-rows: 100vh;
  display: grid;
  height: 100vh;
  overflow-y: auto;
}


.slide {
  padding: 10%;
}

.presentation.captions .caption { display: block }


