.caption { display: none }
.presentation {
  grid-auto-rows: 100vh;
  display: grid;
  height: 100vh;
  overflow-y: auto;
  scroll-snap-type: y mandatory;
  -webkit-scroll-snap-type: y mandatory;
  -ms-scroll-snap-type: y mandatory;
}

.presentation > * {
  scroll-snap-align: start;
  -webkit-scroll-snap-align: start;
  -ms-scroll-snap-align: start;
  display: grid;
}

.presentation .notes {
  display: none;
}

.titleGroup {
  text-align: center;
  margin: auto;
  max-width: 30rem;
}

.slide {
  padding: 10%;
}

.presentation.captions .caption { display: block }


