.Event { margin: 1rem 0 }
.Description { }
.Month { }
.Timeline { display: flex; flex-wrap: wrap; justify-content: space-evenly; }
.Timeline > *, .Timeline::after {
    --unit-size: clamp(0%, 100%, 20rem);
    flex-basis: var(--unit-size);
    justify-content: stretch;
}
.Month[data-month="0"]::before { content: 'jan' }
.Month[data-month="1"]::before { content: 'feb' }
.Month[data-month="2"]::before { content: 'mar' }
.Month[data-month="3"]::before { content: 'apr' }
.Month[data-month="4"]::before { content: 'may' }
.Month[data-month="5"]::before { content: 'jun' }
.Month[data-month="6"]::before { content: 'jul' }
.Month[data-month="7"]::before { content: 'aug' }
.Month[data-month="8"]::before { content: 'sep' }
.Month[data-month="9"]::before { content: 'oct' }
.Month[data-month="10"]::before { content: 'nov' }
.Month[data-month="11"]::before { content: 'dec' }
.Month::before { opacity: .5 }
.Month .Event { margin-left: 2rem }
.Year::before {
    content: attr(data-year);
    font-size: xx-large;
    text-align: center;
    grid-area: header;
    width: 100%;
    border-bottom: 1px solid black;
    padding: 1rem 0;
    margin-bottom: 1rem;
}
.Year article {
    grid-area: article
}
.Year {
    display: grid;
    grid:   "stretchMarkerL header stretchMarkerR"
            "stretchMarkerL article stretchMarkerR"
            "stretchMarkerL stretchMarkerM stretchMarkerR" minmax(0, 1fr)
            / .5fr var(--unit-size) .5fr;
    flex-grow: 1;
}


/*
    The logic here is to fill any free space we fit into
    with some lovely decorations :)
*/
.stretchMarkerM {
    width: 100%; height: 100%;
    grid-area: stretchMarkerM;
    display: flex;
    flex-direction: column;
}

.stretchMarkerM::before, .stretchMarkerM::after {
    content: "";
    flex-basis: clamp(0%, 100%, 5rem);
}


.stretchMarkerLine {
    content: "";
    grid-area: line;

    border: 0;
    border-left: 1px dotted black;
    margin: 0 auto;
    flex-grow: 1;
}


/*
.Year::after {
    content: "";
    border-left: 1px dotted black;
    width: 0;
    margin: 0 auto;
    grid-area: stretchMarkerM;
}
*/
.Tags { display: none }