.Event { margin: 1rem 0 }
.Description { }
.Month { }
.Timeline { display: flex; flex-wrap: wrap; justify-content: space-evenly; }
.Timeline::after{ content: "" }
.Timeline > *, .Timeline::after {
    flex-basis: clamp(0%, 100%, 20rem)
}
    
.Month[data-month="0"]::before { content: 'jan' }
.Month[data-month="1"]::before { content: 'feb' }
.Month[data-month="2"]::before { content: 'mar' }
.Month[data-month="3"]::before { content: 'apr' }
.Month[data-month="4"]::before { content: 'may' }
.Month[data-month="5"]::before { content: 'jun' }
.Month[data-month="6"]::before { content: 'jul' }
.Month[data-month="7"]::before { content: 'aug' }
.Month[data-month="8"]::before { content: 'sep' }
.Month[data-month="9"]::before { content: 'oct' }
.Month[data-month="10"]::before { content: 'nov' }
.Month[data-month="11"]::before { content: 'dec' }
.Month::before { opacity: .5 }
.Month .Event { margin-left: 2rem }
.Year::before {
    content: attr(data-year);
    font-size: xx-large;
    text-align: center;
    grid-area: header;
}
.Year::after {
    content: "";
    border-left: 1px dotted black;
    width: 0;
    margin: 0 auto;
    grid-area: dots;
}
.Year article {
    grid-area: article
}
.Year {
    display: grid;
    grid:   "header"
            "article"
            "xxxxxxx" .25fr
            "dots" 1fr
            "xxxxxxxx" .25fr
}
.Tags { display: none }