{
  "extends": ["eslint:recommended", "react-app"],
  "rules": {
  	"no-await-in-loop": "error",
	"no-console": "warn",
	"no-extra-parens": "warn",
	"block-scoped-var": "warn",
	"class-methods-use-this": "warn",
	"consistent-return": "error",
	"dot-notation": "warn",
	"no-else-return": "error",
	"no-extra-bind": "warn",
	"no-implied-eval": "error",
	"no-invalid-this": "error",
	"no-lone-blocks": "warn",
	"no-loop-func": "warn",
	"callback-return": "warn",
	"no-sequences": 0,
	"array-bracket-spacing": ["error", "never",{
		"singleValue": true
	}],
	"block-spacing": "error",
	"brace-style": ["error", "1tbs", {"allowSingleLine": true}],
	"comma-spacing": "error",
	"comma-dangle": "warn",
	"eol-last": "warn",
	"function-paren-newline": ["error", "consistent"],
	"indent": ["warn", 2],
	"key-spacing": "warn",
	"keyword-spacing": "warn",
	"linebreak-style": ["warn", "unix"],
	"lines-between-class-members": "warn",
	"no-lonely-if": "warn",
	"no-trailing-spaces": "warn",
	"arrow-parens": ["warn", "as-needed"],
	"no-var": "warn",
	"prefer-destructuring": "warn",
	"prefer-numeric-literals": "warn",
	"prefer-spread": "warn",
	"spaced-comment": "warn"
  }
}
