{
  "trailingComma": "es5",
  "semi": false,
  "singleQuote": false,
  "tabWidth": 2,
  "bracketSpacing": true,
  "jsxBracketSameLine": true,
  "arrowParens": "avoid",
  "parser": "babel",
  "desc": "overall not happy with how prettier handles some stuff..."
}
