.profile {
  display: grid;
  grid: "header" min-content "timeline" 1fr "asterism" 8rem "footer" min-content;
}

.header { display: grid; grid: "." 4em "eye" 4em "text" "." 3em / 1fr }
.eye { grid-area: eye }

.header .text { grid-area: text ; text-align: center }
.header .text .links { margin-top: 1rem }

.text .links { max-width: 20rem; margin: auto; display: flex }

.rule { grid: ". line-left . text . line-right ." min-content / .2em 1fr 2rem min-content 2rem 1fr .2em }
.rule::before, .rule::after { }

.text .links > * { margin: auto }

.name { }
.profile footer::before { content:"–"; grid-area:left-spacer; margin:auto; opacity: .5 }
.profile footer::after { content:"–"; grid-area: right-spacer; margin: auto; opacity: .5 }


.footer {
  grid-area: footer;
  display: grid;
  grid: "graph graph graph graph graph" 20rem
        ". left-spacer future right-spacer ." 10rem
        "tagline tagline tagline tagline tagline" min-content
        ". . . . ." 4rem / 1fr 2rem 4rem 2rem 1fr
}

.future{ grid-area:future }
.graph { grid-area:graph }

@media (orientation: portrait) {
  .future * { fill: black; stroke: none }
}
