.KitchenSink {
  --logo-area-size: 4em;
  --subtle-off-bgc: inherit;
  --logo-padding-vertical: .7em;
  --logo-padding-horizontal: .3em;
  composes: GridArea from "../Grid.module.css";
  grid: "logo            top-sink-area" var(--logo-area-size)
        "left-sink-area  content-area" 1fr /
          var(--logo-area-size) 1fr;
 background-color: var(--subtle-off-bgc);
 overflow-x: hidden;
}

.Title {
  margin: auto;
  font-size: x-large;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: .1em;
}

.ContentArea {
  grid-area: content-area;
  background-color: white;
  composes: GridArea from "../Grid.module.css";
  grid: 1fr/1fr;
}

.LeftSinkArea {
  grid-area: left-sink-area;
}

.TopSinkArea {
  grid-area: top-sink-area;
  composes: GridArea from "../Grid.module.css";
}

.Logo {
  composes: GridArea from "../Grid.module.css";
  grid-area: logo;
  grid: ". ...... ." var(--logo-padding-vertical)
        ". future ." 1fr
        ". ...... ." var(--logo-padding-vertical) /
        var(--logo-padding-horizontal) 1fr var(--logo-padding-horizontal);
}

.Future {
  grid-area: future;
}

.Future path {
  fill: black;
}
