.UI :global(.DraftEditor-editorContainer), .UI :global(.DraftEditor-root) {
  display: grid;
  grid: 1fr / 1fr;
  width:100%; height: 100%;
}

.UI {
  display: flex !important;
  justify-content: center;
  flex-wrap: wrap;
}

.UIItem {
  min-height: 10rem;
  max-width: 30rem;
  width: 100%;
  height: 50%;
  max-height: 30rem;
  background-color: whitesmoke;
  margin: 2rem auto 2rem auto;
  box-sizing: border-box;
  padding: 2rem;
}

.Code {
  overflow-wrap: break-word;
  hyphens: auto;
  overflow: auto;
}

.Code pre {
  white-space: pre-wrap;
}

.CodeView {
  composes: UIItem;
  composes: Code;
}

.CodeEditor {
  composes: UIItem;
  composes: Code;
}

.ImagePanel {
  composes: UIItem;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.RenderPanel {
  composes: CodeView;
  font-family: monospace;
  font-size: 10%;
}

.ImagePanel input[type=file] {
  display: none;
}

.ImagePanel .Message {}
.ImagePanel canvas { display: none }
