.App {
    grid:   'search' min-content
            'page' 1fr;
    display: grid;
    scroll-snap-type: y mandatory;
    width: 100vw; height: 100vh;
    overflow: auto;
}

.search {
    grid-area: search;
    scroll-snap-align: start;
}

.page {
    grid-area: page;
    scroll-snap-align: center;
}