
.header { display: grid; grid: "." 4em "eye" 4em "text" "." 3em / 1fr }

.eye { grid-area: eye }

.header .text { grid-area: text ; text-align: center }
.header .text .links { margin-top: 1rem }
.text .links { max-width: 20rem; margin: auto; display: flex }

.text .links > * { margin: auto }