@import url('https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i');
* { box-sizing: border-box }
body, html {
  width: 100%;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  font-family: "Lora", serif;
}

svg { width: 100%; height: 100% }

h1, h2, h3, h4 { font-weight: inherit }

@media print {
  html, body { max-width: 210mm ; max-height: 297mm; margin: auto }
}

@page {
  size: A4;
  margin: 0;
  marks: none;
}

a:link { color: inherit; text-decoration-skip: spaces ; font-style: italic }
a:visited { color: inherit }


