.name, .handle { text-transform: lowercase }
.name > * { display: inline-block }



.profile .text {
  grid-area: text;
  text-align: center;
}

header.profile .name {
  font-size: larger;
}

.App, .App.day {
  --fgc: black;
  --bgc: white;
}

.App.night {
  --fgc: white;
  --bgc: black;
}

.App  {
  transition: color, background-color ease-in-out;
  display: grid;
  width: 100%;
  min-height: 100vh;
  color: var(--fgc);
}

svg {
  stroke: var(--fgc);
}
