.RouterMenu {
    width: 100%; height: 100%;
    --routerMenu-row-height: 2rem;
    grid: 'search' var(--routerMenu-row-height) / 1fr;
    grid-auto-rows: var(--routerMenu-row-height);
    display: grid;
}

.RouterMenu input { border: 0; background-color: whitesmoke }
.RouterMenu > * { box-sizing: border-box; padding: .2rem 0}

.RouterMenu > * { width: 100%; height: 100%; box-sizing: border-box;}

.DisplayRoute {
    width: 100%;
    display: grid;
    grid: 'title path' 1fr / 1fr auto;
}


.search{ grid-area: search }

.DisplayRoute .title { grid-area: title; font-weight: bold; }
.DisplayRoute .path { grid-area: path; opacity: .5 }