@media print {
  .CV { border: 0 }
}

.cv {
  font-size: 80%;
  box-sizing: border-box;
  padding: 20mm 30mm;
  overflow: hidden;
  width: 210mm;
  height: 297mm;
  margin: auto ;
  border: 1px solid black;

  display: grid;
  grid: "header header header header header" min-content
        "experience-title experience-title experience-title experience-title experience-title" min-content
        ". . . . ." .4fr
        "experience experience experience experience experience" 7fr
        "works-title works-title works-title works-title works-title" min-content
        ". . . . ." .4fr
        "works works works works works" 1fr
        ". . . . ." .4fr
        "works2 works2 works2 works2 works2" 1fr
        ". . . . ." .4fr
        "skills-title skills-title skills-title skills-title skills-title" min-content
        ". . . . ." .4fr
        "skills skills skills skills skills" 1fr
        ". . . . ." 3em
        ". dash-left future dash-right ." 2em / 1fr 2em 1fr 2em 1fr;
        /* yeah i know this is kinda disgusting and i should make a dashed Future component... */
}

.cv::before { content:"–"; grid-area:dash-left; margin:auto; opacity: .5 }
.cv::after { content:"–"; grid-area: dash-right; margin: auto; opacity: .5 }

.email { grid-area: email }
.phone { grid-area: phone }
.name { grid-area: name }
.date { grid-area: date }

.header {
  grid-area: header;
  display: grid;
  justify-items: center;
  align-items: center;
  grid: "website icon date" min-content
        ". . ." 1em
        "phone name email" min-content
        ". . ." 2em
        / 1fr 1fr 1fr;
}

.header .website { grid-area: website }
.header .headerIcon { grid-area: icon ; height: 2.5em }

.experience {
  grid-area: experience;
  display: grid
}

.work {
  display: grid;
  grid: "employer employer . start dash end" min-content
        "position position . duration duration duration" min-content
        ". . . . . ." .1em
        ". content content . . ." min-content
        ". . . . . ." 1em
        / 1em 1fr 1em 4.5em 2em 4em;

}

.work p { margin: 0 }
.work p + p { margin-top: 1em }

.work::before {
  content: " - ";
  grid-area: dash;
  justify-self: center;
}

.work .start,
.work .end,
.work .duration { white-space: nowrap; opacity: .6 }
.work .duration { opacity: .4 }

.work .employer { grid-area: employer ; font-weight: bold; font-style: italic }
.work .position { grid-area: position }
.work .start { grid-area: start; justify-self: end }
.work .end { grid-area: end ; justify-self: end }
.work .duration { grid-area: duration ; justify-self: end }
.work .content { grid-area: content }
.work .content p:last-of-type::after { content: "." }
.work .content:first-letter, .work .content *:first-letter { text-transform: uppercase }
.work .content ul { list-style-type: none }
.work .content ul { margin: 0 ; padding: 0 }
.work .content li + li { margin-top: 1em }

.skills, .works {
  grid-area: skills;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(7em, 1fr));
  grid-auto-flow: dense;
  align-items: center;
  justify-items: stretch;
  text-align: center;
}


.worksTitle { grid-area: works-title }
.experienceTitle { grid-area: experience-title }

.cv a:link { text-decoration: none }

.works { grid-area: works; }
.works2 { grid-area: works2; }

.future { grid-area: future; stroke: none; fill: black !important }

.skills.works { grid-gap: 0 1em }

.skillsTitle { grid-area: skills-title }
.skills:not(.works) .description { display: none }

.skills .description {
  box-sizing: border-box;
  opacity: .7;
  grid-row: 2;
  align-self: start;
}

.skills :not(.description) {
  text-transform: lowercase
}
