.Link::after {
    vertical-align: super;

    display: inline-block;
    content: "";
}

.Link[target=_blank]::after {
    font-variant: small-caps;
    font-size: 60%;
    content: " ";
}

.Link:visited::after {
    background-color:white;
}