.Home { background-color: var(--background-color) }

.Timeline { grid-area: timeline }
.Header { grid-area: header }
@media (orientation: landscape) {
  .Home {
    grid: ". timeline" 1fr
          "header timeline" 1fr
          ". timeline" 1fr / .5fr .5fr;
  }

  .Header {
    position: fixed;
    max-height: 100vh;
    width: 50vw;
  }
}

.Header * {
  margin: auto;
  width: 100%;
  height: 100%;
  text-align: center;
}

.handle { grid-area: handle }
.name { grid-area: name }
.logo { grid-area: logo }

@media (orientation: portrait) {
  .Home {
    display: grid;
    grid:
      ".. name logo handle .." 10vh
      "timeline timeline timeline timeline timeline" 1fr/
      1fr 2fr 2fr 2fr 1fr;
  }

  .handle, .name, .logo {
    position: sticky; top:0;
  }

}