.Home { background-color: var(--background-color);
composes: GridArea from '../grid.module.css' }

.Timeline { grid-area: timeline }
.Header { grid-area: header }
@media (orientation: landscape) {
  .Home {
    --sticky-year-offset: 0;
  }

  .Header {
    position: fixed;
    max-height: 100vh;
    width: 50vw;
  }
}


.handle { grid-area: handle }
.name { grid-area: name }
.logo { grid-area: logo }
.links { grid-area: links }

.links * { margin: auto }

.Home {
  composes: GridArea from "../grid.module.css";
}

@media (orientation: portrait) {
  .Home {
    --header-height: 10vh;
    --links-height: 1.5rem;
    --header-bottom-spacer: .2rem;
    --sticky-year-offset: calc(
      var(--header-height) +
      var(--header-bottom-spacer)
    );
    display: grid;
    grid:
      "begin-header name .. logo .. handle end-header" var(--header-height)
      "begin-header . . . . . end-header" var(--header-bottom-spacer) 
      ". links links links links links ." var(--links-height)
      "timeline timeline timeline timeline timeline timeline timeline" 1fr /
      .5fr 2fr .5rem 1.5fr .5rem 2fr .5fr;
  }

  /* header background */
  .Home::before {
    content: '';
    grid-column-start: begin-header;
    grid-column-end: end-header;
    grid-row-start: begin-header;
    grid-row-end: end-header;
    z-index: 3;
    background-color: var(--background-color);
  }


  .name, .handle, .logo, .Home::before {
    position: sticky; top:0;
    z-index: 4;
    text-align: center;
  }

}