.Home { background-color: var(--background-color) }

.Timeline { grid-area: timeline }
.Header { grid-area: header }
@media (orientation: landscape) {
  .Home {
    grid: ". timeline" 1fr
          "header timeline" 1fr
          ". timeline" 1fr / .5fr .5fr;
  }

  .Header {
    position: fixed;
    max-height: 100vh;
    width: 50vw;
  }
}

.Header * {
  margin: auto;
}

.handle { grid-area: handle }
.name { grid-area: name }
.logo { grid-area: logo }

@media (orientation: portrait) {
  .Home {
    grid: "header" 10vh "timeline" 1fr;
  }

  .Header {
    display: grid;
    grid: ". name logo handle ." 1fr
          / 1fr 1fr 1fr 1fr 1fr;
    position: fixed;
    height: 10vh;
    padding: .2rem 0;
    width: 100vw;
    background-color: var(--background-color);
  }
}