
.sadIcon { }
.future { fill: none }
.rule {
  display:none;
  grid-area: asterism;
  margin: auto;
  text-align: center;
  white-space: nowrap;
  display: grid;
  width: 100%;
  grid: ". line-left . text . line-right ." min-content / 1fr .2em 2rem min-content 2rem .2em 1fr;
}

.rule > * {
  grid-area:text;
  margin: auto;
}

.rule::after,
  .rule::before{
  content: "";
  height: 0;
  border-top: 1px solid black;
  margin: auto;
  width: 100%;
}

.rule::after {
  grid-area: line-left;
}

.rule::before {
  grid-area: line-right;
}
