.timeline {
  --marker-size: 1px;
  --year-font-size: 200%;
  --month-font-size: 1rem;
  --marker-colour: var(--fgc);
  display: flex;
  flex-wrap: wrap;
  flex-wrap: wrap;
  display: flex;
  padding: 1rem;
}

.timeline > * {
  min-width: 15rem;
  max-width: 15rem;
  margin: 1rem auto 1rem auto;
}

.year {
  font-size: 130%;
}

.month {
  opacity: .7
}

.group {}

.duration { }

.title > * + *::before { content: ", " }




.event {
  max-width: 15rem;
  box-sizing: border-box;
  text-transform: lowercase;
}

.event::before {
  opacity: .7;
}

.event:global(.work) {
  grid: "bullet title title title"
        ". . . ." .2em
        ". duration duration duration"
        ". description description description"
        / 1rem 2fr 2em 3em;
}

.event:global(.work) * { display: inline }
.event:global(.work) * + *::before{ content: " " }

.event:not(:global(.work)) .description p:first-child {
  display: inline;
}
