@import url('https://fonts.googleapis.com/css?family=Lora:400,400i&display=swap');
@import url('https://fonts.googleapis.com/css?family=EB+Garamond:400,400i&display=swap');
html, body {
    width: 100vw; height: 100vh; margin: 0;
    display: flex;
    --fgc: black;
    --bgc: white;
    font-family: 'EB Garamond', serif;
    font-variant-ligatures: historical-ligatures common-ligatures additional-ligatures;
    font-size: 1.03rem;
}

h1, h2, h3 {
    font-weight: inherit;
}

p::first-letter {
    text-transform: capitalize;
}

a:link {
    color: inherit;
    text-decoration: none;
}

a:visited {
    color: inherit;
    text-decoration: none;
}

#root {
    width: 100%; height: 100%
}